*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: cornflowerblue;
}

html {
    scroll-behavior: smooth;
    /* per far si che premendo il pulsante lo scroll non sia violento, ma graduale */
}

ul {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1;
}

li {
    list-style-type: none;
    display: inline-block;
}

.sez {
    height: 100vh;

}

.superga {
    background-color: #DEFCFC;
    position: relative;
}

.tommy {
    background-color: #CBF1F5;
    position: relative; 
}

.converse {
    background-color: #A6E3E9;
    position: relative;
}

.imm1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
}

.imm2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
}

.imm3 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);  
}

.modello {
    position: absolute;
    top: 85%;
    left: 55%; 
    transform: translate(-85%, -55%);
    font-size: 50px;
    margin-left: 10%;
    text-align: center;
}

.tasti {
    color: cornflowerblue;
    background-color: white;
    text-decoration: none;
    border-radius: 50%; 
    font-size: 20px;
    margin-right: 10px;
    padding: 0;
    width: 50px;
    height: 50px;    
    line-height: 50px;
    display: inline-block;
    text-align: center;
}

.tasti:hover {
    box-shadow: 5px 5px cornflowerblue;
    /* a box shadow basta aggiungere il terzo valore per rendere l'ombra con effetto blurred */
    /* es: box-shadow: 5px 5px 20px colore */
}